<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>점심 선택</title>
</head>
<body>
	<h3>오늘 점심은 무엇을 먹을까? (2개 이상 선택)</h3>
	<form action="/ch03_JSP/todayMenu" method="post">
	<input type="checkbox" name="lunch" value="떡볶이">떡볶이 
	<input type="checkbox" name="lunch" value="버섯덮밥">버섯덮밥
	<input type="checkbox" name="lunch" value="칼국수">칼국수
	<input type="checkbox" name="lunch" value="치즈김밥">치즈김밥
	<input type="checkbox" name="lunch" value="피자">피자
	<input type="submit" value="전송">
	</form>
</body>
</html>